@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary-color: #84a103;
    --secondary-color: #282829;
    --background-color: #f8f9fa;
    --text-color: #f3f9ff;
    --hover-color: #3a8a04;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Space Grotesk", sans-serif;

}

body {
    background-color: black;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.navbar {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 30px;
    z-index: 100;
}

.navbar-container {
    color: #f5f7f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-item {
    margin-left: 2rem;
}

.navbar-link {
    color: #f8f9fa;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}

.navbar-link:hover {
    color: var(--hover-color);
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 60px;
        right: 30px;
        padding: 20px;
        border-radius: 5px;
    }

    .navbar-menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero-content {
        padding-top: 5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .hero-content h1 {
        font-size: 1rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }

    .hero-button a {
        font-size: 0.9rem;
        padding: 10px 20px;
        margin: 5px;
    }

    .features-gallery img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .features h1 {
        font-size: 2rem;
    }

    .features p {
        font-size: 1rem;
    }

    .features-gallery {
        flex-direction: column;
        align-items: center;
    }

    
}

.hero {
   position: relative;
   width: 100%;
   height: 100vh;
   font-family: popins, sans-serif;
   overflow-x: hidden;
} 

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
   text-align: center;
   color: white;
   will-change: transform;
   letter-spacing: -0.5px;
   line-height: 1.2;
}

.hero-content h1 {
    font-size: 4rem;
    font-family: 'Playfair', serif;
    color: var(--primary-color);
    letter-spacing: 0.3em;
    line-height: 1.1;
    font-weight: 700;
    
}

.hero-content h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(185, 183, 183);
    
    
}

.hero-content p {
    font-size: 1.2rem;
    color: rgb(185, 183, 183);
    margin-bottom: 2rem;
    font-weight: 600;
}

.hero-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: rem;
}

.hero-button a{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
}

.hero-button a:hover {
    background-color: var(--primary-color);
    color: white;
}

.bg-clip {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    overflow: hidden;
   
}

.bg-clip video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bg-clip video::-webkit-media-controls {
    display: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.features {
    padding: 5rem 2rem;
    background-color: #0e0d0d;
    font-family: Arial, sans-serif;
}

.features-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
}

.features a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.features a:hover {
    background-color: var(--primary-color);
    color: white;
}

.banner {
    width: 100%;
    background-color: #1d1d1d;
    overflow: hidden;
    padding: 10px 0;
}

.banner-content {
    display: flex;
    gap: 50px;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.banner-content span{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    color: #d3cdcd;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.banner:hover .banner-content {
    animation-play-state: paused;
}

.features h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.features p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.features-gallery {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}


.features-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.features-gallery img {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta {
    background-color: #1a3501;
    text-align: center;
    padding: 6rem 3rem;
    font-family: 'Poppins', sans-serif;
}

.cta-container {
   max-width: 1200px;
    margin: 0 auto;
}

.cta-content {
    max-width: 800px;
    margin: 0 auto;
}

.cta-content p {
    font-size: 1.2rem;
    color: #f3f9ff;
    margin-bottom: 1rem;
}

.cta-content h3 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.cta-content h3 span {
    color: #070800;
    text-transform: lowercase;
}

.cta-content form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cta-content input {
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    flex: 1;
    min-width: 300px;
}

.cta-content button {
    padding: 12px 30px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-content button:hover {
    background-color: var(--hover-color);
}

.footer {
    background-color: #070800;
    padding: 60px 20px 30px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.footer-left, 
.footer-center, 
.footer-right {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
}

.footer-left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer-left p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer-right h3 {
    margin-bottom: 10px;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-form label  {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #999;
    text-transform: uppercase;
}

.footer-form input {
    padding: 8px 10px;
    border: 1px solid #555;
    background: transparent;
    color: #f5f2f2;
    border-radius: 3px;
    outline: none;
}

.footer-center {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 40px;
    
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li{
    margin-bottom: 10px;
}

.footer-right a {
    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
}

.footer-right a:hover {
    color: #84a103;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    color: #777;
    font-size: 1rem;
}

.footer-bottom a {
    color: #888;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #66ff66;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons a {
    color: #ccc;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #66ff66;
}

.footer-copy {

}